{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"plugin:path/recommended"
		// "eslint:recommended"
		// "plugin:@typescript-eslint/eslint-recommended",
		// "plugin:@typescript-eslint/recommended"
	]
}
